#videos{
    padding: 60px 0px;
    background-color: rgb(29, 29, 29);
}
#videos .grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 18px;
    text-align: center;
}
